html[data-view=settings] body {
  margin-top: 0;
}

label {
  white-space: nowrap;
}

.error {
  background-color: #fee;
  border: 1px solid #faa;
  border-radius: 3px;
  padding: 0.4em 0.8em;
}

#settings {
  display: flex;
  flex-flow: column;
}

#leds {
  display: flex;
  flex-wrap: wrap;
}

#leds .radio {
  min-width: 50%;
}

html:not([data-view=settings]) #settings,
html:not([data-view=no-leds]) #no-leds,
html:not([data-view=os-not-supported]) #os-not-supported,
html:not([data-view=connection-failed]) #connection-failed,
#led:not([data-error=unkown]) #led-error-unknown,
#led:not([data-error=locked]) #led-error-locked {
  display: none;
}
