input[type=radio] {
	margin-left: 0;
}

code {
	display: block;
	padding: 0.5em;
	border: 1px solid #000;
	background-color: #eee;
	border-radius: 0.5em;
}

code span {
	display: block;
}

.hidden {
	display: none;
}
